In [1]:
import pandas as pd

In [7]:
# read the ""unique_SMILES_abs_max_zscore_rat.csv"" data frame 
unique_SMILES_abs_max_zscore_rat = pd.read_csv("unique_SMILES_abs_max_zscore_rat.csv")
#unique_SMILES_abs_max_zscore_rat

 <h1 style="color:purple;"> Manually add "target' column and assign valule by zscore vlaue</h1>
   <ul style="color:blue;">
    <li> zscore >= -2 ; assigned as toxic</li>
     <li>-1 =< zscore =< -2 ; assigned as mild_toxic</li>
    <li>zscore >= -1 ; assigned as non_toxicc</li>
    </ul>

In [6]:
# read the new data frame 
df = pd.read_csv("unique_SMILES_abs_max_zscore_rat_target.csv")
df

,SMILES,zscore,target,TSSPECIES,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,CC1(C)CC[C@@H](CN1)Nc2ncc(c(n2)-c3c[nH]c4c(c(c...,-12.628175,toxic,RAT,27.068440,21.305774,0,1,41.73029936,2.550115456,...,10.690239,85.010313,490.185781,8.169763,3.388000e+03,59,190,226,13.4375,7.000000
1,CNC(=O)c1cc(F)c(-c2nc3cc(C)ccn3c2C[C@H]4CN(CCO...,-12.024614,toxic,RAT,25.679272,20.372323,0,0,42.31340499,2.532515705,...,10.498553,83.716534,458.176562,8.038185,3.101000e+03,57,176,211,11.69444444,7.305556
2,Fc1ccc(cc1)-n2ncc3C[C@@]4(CN(CCC4=Cc23)S(=O)(=...,-7.800000,toxic,RAT,33.070476,24.048348,0,0,53.27296892,2.601428007,...,10.960809,93.149147,582.134874,9.240236,5.551000e+03,78,234,286,13.40972222,8.527778
3,[H][C@]12Cc3ccc(Oc4cc(C[C@]5([H])N(C)CCc6cc(OC...,-7.216079,toxic,RAT,36.543491,23.218856,0,2,61.21057218,2.534102486,...,10.960496,84.452620,622.304287,7.071640,6.542000e+03,91,256,313,13.5,10.138889
4,CC[C@@]1(O)CCc2ccc(nc12)-n3n(CC=C)c(=O)c4cnc(N...,-7.093338,toxic,RAT,31.105266,22.427932,0,1,51.73662538,2.568382292,...,10.777685,93.077478,526.280472,7.209322,5.332000e+03,70,218,266,11.50694444,8.472222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,[H][C@@]12CC[C@H](C(=O)Cn3ccnc3)[C@@]1(C)CC[C@...,3.061090,non_toxic,RAT,24.967124,19.204658,0,0,40.10181159,2.627609372,...,10.796121,83.870276,428.303893,6.032449,2.647000e+03,60,180,224,9.965277778,6.541667
435,COc1cc([C@@H](C)C(=O)N2CC[C@@]3(C2)CCc4cc(c(C)...,3.791917,non_toxic,RAT,27.024536,19.884283,0,0,44.72302295,2.518866618,...,10.621986,84.836429,462.217952,7.577343,3.735000e+03,60,188,227,10.53472222,7.361111
436,CC1(C)COc2ccc(F)cc2CN3[C@@H](COc4cn5ncc(C(=O)N...,4.388105,non_toxic,RAT,25.887720,18.783195,0,0,40.65891107,2.532940639,...,10.599705,82.686236,447.151824,8.599074,2.450000e+03,60,182,220,10.64583333,6.638889
437,[Cl-].Cc1cccc(C)c1NC(=O)C[N+]3(Cc2ccccc2)CCCCCC3,4.919260,non_toxic,RAT,20.046279,16.390751,1,1,multiple fragments (SpAbs_A/SpAbs),multiple fragments (SpMax_A/SpMax),...,10.041378,69.473461,386.212491,6.658836,2.600002e+09,41,132,151,divide by zero encountered in power (mZagreb1),5.805556
438,CCc1c2Cn3c(cc4c(COC(=O)[C@]4(O)CC)c3=O)-c2nc5c...,8.788327,non_toxic,RAT,23.334432,18.042376,0,0,38.1427252,2.61676061,...,10.763356,80.135105,392.137222,8.002800,1.971000e+03,62,170,216,9.895833333,6.208333

# cleaning the df

#
To count the number of 0 values in every column of a DataFrame df, you can use the eq method to create a Boolean mask where True indicates a 0 value, and then use the sum method to count the number of True values in each column.

# convert all the column except first four columns to numeric

In [135]:
# convert all columns except the first four columns of the DataFrame df to numeric
df1 = df.copy()
df.iloc[:, 4:] = df.iloc[:, 4:].apply(pd.to_numeric,errors='coerce')

In [136]:
df1

,SMILES,zscore,target,TSSPECIES,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,CC1(C)CC[C@@H](CN1)Nc2ncc(c(n2)-c3c[nH]c4c(c(c...,-12.628175,toxic,RAT,27.068440,21.305774,0,1,41.730299,2.550115,...,10.690239,85.010313,490.185781,8.169763,3.388000e+03,59,190,226,13.437500,7.000000
1,CNC(=O)c1cc(F)c(-c2nc3cc(C)ccn3c2C[C@H]4CN(CCO...,-12.024614,toxic,RAT,25.679272,20.372323,0,0,42.313405,2.532516,...,10.498553,83.716534,458.176562,8.038185,3.101000e+03,57,176,211,11.694444,7.305556
2,Fc1ccc(cc1)-n2ncc3C[C@@]4(CN(CCC4=Cc23)S(=O)(=...,-7.800000,toxic,RAT,33.070476,24.048348,0,0,53.272969,2.601428,...,10.960809,93.149147,582.134874,9.240236,5.551000e+03,78,234,286,13.409722,8.527778
3,[H][C@]12Cc3ccc(Oc4cc(C[C@]5([H])N(C)CCc6cc(OC...,-7.216079,toxic,RAT,36.543491,23.218856,0,2,61.210572,2.534102,...,10.960496,84.452620,622.304287,7.071640,6.542000e+03,91,256,313,13.500000,10.138889
4,CC[C@@]1(O)CCc2ccc(nc12)-n3n(CC=C)c(=O)c4cnc(N...,-7.093338,toxic,RAT,31.105266,22.427932,0,1,51.736625,2.568382,...,10.777685,93.077478,526.280472,7.209322,5.332000e+03,70,218,266,11.506944,8.472222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,[H][C@@]12CC[C@H](C(=O)Cn3ccnc3)[C@@]1(C)CC[C@...,3.061090,non_toxic,RAT,24.967124,19.204658,0,0,40.101812,2.627609,...,10.796121,83.870276,428.303893,6.032449,2.647000e+03,60,180,224,9.965278,6.541667
435,COc1cc([C@@H](C)C(=O)N2CC[C@@]3(C2)CCc4cc(c(C)...,3.791917,non_toxic,RAT,27.024536,19.884283,0,0,44.723023,2.518867,...,10.621986,84.836429,462.217952,7.577343,3.735000e+03,60,188,227,10.534722,7.361111
436,CC1(C)COc2ccc(F)cc2CN3[C@@H](COc4cn5ncc(C(=O)N...,4.388105,non_toxic,RAT,25.887720,18.783195,0,0,40.658911,2.532941,...,10.599705,82.686236,447.151824,8.599074,2.450000e+03,60,182,220,10.645833,6.638889
437,[Cl-].Cc1cccc(C)c1NC(=O)C[N+]3(Cc2ccccc2)CCCCCC3,4.919260,non_toxic,RAT,20.046279,16.390751,1,1,NaN,NaN,...,10.041378,69.473461,386.212491,6.658836,2.600002e+09,41,132,151,NaN,5.805556
438,CCc1c2Cn3c(cc4c(COC(=O)[C@]4(O)CC)c3=O)-c2nc5c...,8.788327,non_toxic,RAT,23.334432,18.042376,0,0,38.142725,2.616761,...,10.763356,80.135105,392.137222,8.002800,1.971000e+03,62,170,216,9.895833,6.208333

In [130]:
# check the data type of column
print(df_filteredl['SRW10'].dtype)

float64

<h2 style="color:red;"> Handling the NaN values ("NaNs")</h2>

In [194]:
import pandas as pd

# Count the number of NaN values in each column of df1
nan_counts = df1.isna().sum()

# Filter columns with a maximum of 1 NaN value
columns_up_to_one_nan = nan_counts[nan_counts <= 5].index

# Create a new data frame with columns up to 1 NaN value
df_up_to_one_nan = df1[columns_up_to_one_nan]

# Create another data frame with the remaining columns
df_remaining = df1.drop(columns_up_to_one_nan, axis=1)

# # Print the data frames
# print("Data Frame with up to 1 NaN value:")
# print(df_up_to_one_nan)

# print("Data Frame with remaining columns:")
# print(df_remaining)

In [195]:
df_up_to_one_nan

,SMILES,zscore,target,TSSPECIES,ABC,ABCGG,nAcid,nBase,nAromAtom,nAromBond,...,SRW09,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb2
0,CC1(C)CC[C@@H](CN1)Nc2ncc(c(n2)-c3c[nH]c4c(c(c...,-12.628175,toxic,RAT,27.068440,21.305774,0,1,15,16,...,6.861711,10.690239,85.010313,490.185781,8.169763,3.388000e+03,59,190,226,7.000000
1,CNC(=O)c1cc(F)c(-c2nc3cc(C)ccn3c2C[C@H]4CN(CCO...,-12.024614,toxic,RAT,25.679272,20.372323,0,0,15,16,...,7.050123,10.498553,83.716534,458.176562,8.038185,3.101000e+03,57,176,211,7.305556
2,Fc1ccc(cc1)-n2ncc3C[C@@]4(CN(CCC4=Cc23)S(=O)(=...,-7.800000,toxic,RAT,33.070476,24.048348,0,0,23,23,...,6.842683,10.960809,93.149147,582.134874,9.240236,5.551000e+03,78,234,286,8.527778
3,[H][C@]12Cc3ccc(Oc4cc(C[C@]5([H])N(C)CCc6cc(OC...,-7.216079,toxic,RAT,36.543491,23.218856,0,2,24,24,...,0.000000,10.960496,84.452620,622.304287,7.071640,6.542000e+03,91,256,313,10.138889
4,CC[C@@]1(O)CCc2ccc(nc12)-n3n(CC=C)c(=O)c4cnc(N...,-7.093338,toxic,RAT,31.105266,22.427932,0,1,21,22,...,7.825245,10.777685,93.077478,526.280472,7.209322,5.332000e+03,70,218,266,8.472222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,[H][C@@]12CC[C@H](C(=O)Cn3ccnc3)[C@@]1(C)CC[C@...,3.061090,non_toxic,RAT,24.967124,19.204658,0,0,5,5,...,7.434257,10.796121,83.870276,428.303893,6.032449,2.647000e+03,60,180,224,6.541667
435,COc1cc([C@@H](C)C(=O)N2CC[C@@]3(C2)CCc4cc(c(C)...,3.791917,non_toxic,RAT,27.024536,19.884283,0,0,18,18,...,6.842683,10.621986,84.836429,462.217952,7.577343,3.735000e+03,60,188,227,7.361111
436,CC1(C)COc2ccc(F)cc2CN3[C@@H](COc4cn5ncc(C(=O)N...,4.388105,non_toxic,RAT,25.887720,18.783195,0,0,15,16,...,6.842683,10.599705,82.686236,447.151824,8.599074,2.450000e+03,60,182,220,6.638889
437,[Cl-].Cc1cccc(C)c1NC(=O)C[N+]3(Cc2ccccc2)CCCCCC3,4.919260,non_toxic,RAT,20.046279,16.390751,1,1,12,12,...,5.093750,10.041378,69.473461,386.212491,6.658836,2.600002e+09,41,132,151,5.805556
438,CCc1c2Cn3c(cc4c(COC(=O)[C@]4(O)CC)c3=O)-c2nc5c...,8.788327,non_toxic,RAT,23.334432,18.042376,0,0,16,17,...,7.080868,10.763356,80.135105,392.137222,8.002800,1.971000e+03,62,170,216,6.208333

<h2 style="color:red;"> Handling the zero values ("0")</h2>

In [198]:
import pandas as pd

# Count the number of zero values in each column of df_up_to_one_nan
zero_counts = df_up_to_one_nan.eq(0).sum()

# Filter columns with a maximum of 1 zero value
columns_up_to_one_zero = zero_counts[zero_counts <= 5].index

# Create a new data frame with columns up to 1 zero value
df_up_to_one_zero = df_up_to_one_nan[columns_up_to_one_zero]

# Create another data frame with the remaining columns
df_remaining = df_up_to_one_nan.drop(columns_up_to_one_zero, axis=1)

# Print the data frames
# print("Data Frame with up to 1 zero value:")
# print(df_up_to_one_zero)

# print("Data Frame with remaining columns:")
# print(df_remaining)

In [199]:
df_up_to_one_zero

,SMILES,zscore,target,TSSPECIES,ABC,ABCGG,nAtom,nHeavyAtom,nHetero,nH,...,SRW08,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb2
0,CC1(C)CC[C@@H](CN1)Nc2ncc(c(n2)-c3c[nH]c4c(c(c...,-12.628175,toxic,RAT,27.068440,21.305774,60,34,11,26,...,8.977525,10.690239,85.010313,490.185781,8.169763,3.388000e+03,59,190,226,7.000000
1,CNC(=O)c1cc(F)c(-c2nc3cc(C)ccn3c2C[C@H]4CN(CCO...,-12.024614,toxic,RAT,25.679272,20.372323,57,33,10,24,...,8.815370,10.498553,83.716534,458.176562,8.038185,3.101000e+03,57,176,211,7.305556
2,Fc1ccc(cc1)-n2ncc3C[C@@]4(CN(CCC4=Cc23)S(=O)(=...,-7.800000,toxic,RAT,33.070476,24.048348,63,41,12,22,...,9.222368,10.960809,93.149147,582.134874,9.240236,5.551000e+03,78,234,286,8.527778
3,[H][C@]12Cc3ccc(Oc4cc(C[C@]5([H])N(C)CCc6cc(OC...,-7.216079,toxic,RAT,36.543491,23.218856,88,46,8,42,...,9.244259,10.960496,84.452620,622.304287,7.071640,6.542000e+03,91,256,313,10.138889
4,CC[C@@]1(O)CCc2ccc(nc12)-n3n(CC=C)c(=O)c4cnc(N...,-7.093338,toxic,RAT,31.105266,22.427932,73,39,10,34,...,9.076695,10.777685,93.077478,526.280472,7.209322,5.332000e+03,70,218,266,8.472222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,[H][C@@]12CC[C@H](C(=O)Cn3ccnc3)[C@@]1(C)CC[C@...,3.061090,non_toxic,RAT,24.967124,19.204658,71,31,5,40,...,9.015177,10.796121,83.870276,428.303893,6.032449,2.647000e+03,60,180,224,6.541667
435,COc1cc([C@@H](C)C(=O)N2CC[C@@]3(C2)CCc4cc(c(C)...,3.791917,non_toxic,RAT,27.024536,19.884283,61,34,9,27,...,8.923858,10.621986,84.836429,462.217952,7.577343,3.735000e+03,60,188,227,7.361111
436,CC1(C)COc2ccc(F)cc2CN3[C@@H](COc4cn5ncc(C(=O)N...,4.388105,non_toxic,RAT,25.887720,18.783195,52,32,11,20,...,8.900140,10.599705,82.686236,447.151824,8.599074,2.450000e+03,60,182,220,6.638889
437,[Cl-].Cc1cccc(C)c1NC(=O)C[N+]3(Cc2ccccc2)CCCCCC3,4.919260,non_toxic,RAT,20.046279,16.390751,58,27,4,31,...,8.412943,10.041378,69.473461,386.212491,6.658836,2.600002e+09,41,132,151,5.805556
438,CCc1c2Cn3c(cc4c(COC(=O)[C@]4(O)CC)c3=O)-c2nc5c...,8.788327,non_toxic,RAT,23.334432,18.042376,49,29,7,20,...,8.979543,10.763356,80.135105,392.137222,8.002800,1.971000e+03,62,170,216,6.208333

# count the total number of zero and NaN in each row

In [200]:
# Count the total number of zeros and NaNs in each row
total_zeros_and_nans_per_row = df_up_to_one_zero.isna().sum(axis=1) + df_up_to_one_zero.eq(0).sum(axis=1)
total_zeros_and_nans_per_row

0      0
1      0
2      0
3      0
4      0
      ..
434    0
435    0
436    0
437    0
438    0
Length: 439, dtype: int64

In [201]:
# Create a new DataFrame with rows that have no zeros or NaNs
df_no_zeros_nans_3nonn = df_up_to_one_zero[total_zeros_and_nans_per_row == 0].copy()
df_no_zeros_nans_3nonn

,SMILES,zscore,target,TSSPECIES,ABC,ABCGG,nAtom,nHeavyAtom,nHetero,nH,...,SRW08,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb2
0,CC1(C)CC[C@@H](CN1)Nc2ncc(c(n2)-c3c[nH]c4c(c(c...,-12.628175,toxic,RAT,27.068440,21.305774,60,34,11,26,...,8.977525,10.690239,85.010313,490.185781,8.169763,3.388000e+03,59,190,226,7.000000
1,CNC(=O)c1cc(F)c(-c2nc3cc(C)ccn3c2C[C@H]4CN(CCO...,-12.024614,toxic,RAT,25.679272,20.372323,57,33,10,24,...,8.815370,10.498553,83.716534,458.176562,8.038185,3.101000e+03,57,176,211,7.305556
2,Fc1ccc(cc1)-n2ncc3C[C@@]4(CN(CCC4=Cc23)S(=O)(=...,-7.800000,toxic,RAT,33.070476,24.048348,63,41,12,22,...,9.222368,10.960809,93.149147,582.134874,9.240236,5.551000e+03,78,234,286,8.527778
3,[H][C@]12Cc3ccc(Oc4cc(C[C@]5([H])N(C)CCc6cc(OC...,-7.216079,toxic,RAT,36.543491,23.218856,88,46,8,42,...,9.244259,10.960496,84.452620,622.304287,7.071640,6.542000e+03,91,256,313,10.138889
4,CC[C@@]1(O)CCc2ccc(nc12)-n3n(CC=C)c(=O)c4cnc(N...,-7.093338,toxic,RAT,31.105266,22.427932,73,39,10,34,...,9.076695,10.777685,93.077478,526.280472,7.209322,5.332000e+03,70,218,266,8.472222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,[H][C@@]12CC[C@H](C(=O)Cn3ccnc3)[C@@]1(C)CC[C@...,3.061090,non_toxic,RAT,24.967124,19.204658,71,31,5,40,...,9.015177,10.796121,83.870276,428.303893,6.032449,2.647000e+03,60,180,224,6.541667
435,COc1cc([C@@H](C)C(=O)N2CC[C@@]3(C2)CCc4cc(c(C)...,3.791917,non_toxic,RAT,27.024536,19.884283,61,34,9,27,...,8.923858,10.621986,84.836429,462.217952,7.577343,3.735000e+03,60,188,227,7.361111
436,CC1(C)COc2ccc(F)cc2CN3[C@@H](COc4cn5ncc(C(=O)N...,4.388105,non_toxic,RAT,25.887720,18.783195,52,32,11,20,...,8.900140,10.599705,82.686236,447.151824,8.599074,2.450000e+03,60,182,220,6.638889
437,[Cl-].Cc1cccc(C)c1NC(=O)C[N+]3(Cc2ccccc2)CCCCCC3,4.919260,non_toxic,RAT,20.046279,16.390751,58,27,4,31,...,8.412943,10.041378,69.473461,386.212491,6.658836,2.600002e+09,41,132,151,5.805556
438,CCc1c2Cn3c(cc4c(COC(=O)[C@]4(O)CC)c3=O)-c2nc5c...,8.788327,non_toxic,RAT,23.334432,18.042376,49,29,7,20,...,8.979543,10.763356,80.135105,392.137222,8.002800,1.971000e+03,62,170,216,6.208333

In [190]:
#df_no_zeros_nans_3nonn.to_csv("df_no_zeros_nans_3nonn.csv")

<h2 style="color:red;"<><><><><><><><><>><><><><><><><><><><><><><><><><><><><><><><>

<h2 style="color:red;"> Creating columns having no 'Zeors' or 'Nans'

In [245]:
import pandas as pd
# convert all columns except the first four columns of the DataFrame df to numeric
df1 = df.copy()
df.iloc[:, 4:] = df.iloc[:, 4:].apply(pd.to_numeric,errors='coerce')

# Count the number of NaN values in each column of df1
nan_counts = df1.isna().sum()

# Filter columns with a maximum of 1 NaN value
columns_up_to_one_nan = nan_counts[nan_counts <= 10].index

# Create a new data frame with columns up to 1 NaN value
df_up_to_one_nan = df1[columns_up_to_one_nan]

# Count the number of zero values in each column of df_up_to_one_nan
zero_counts = df_up_to_one_nan.eq(0).sum()

# Filter columns with a maximum of 1 zero value
columns_up_to_one_zero = zero_counts[zero_counts <= 10].index

# Create a new data frame with columns up to 1 zero value
df_up_to_one_zero = df_up_to_one_nan[columns_up_to_one_zero]

# Count the total number of zeros and NaNs in each row
total_zeros_and_nans_per_row = df_up_to_one_zero.isna().sum(axis=1) + df_up_to_one_zero.eq(0).sum(axis=1)

# Create a new DataFrame with rows that have no zeros or NaNs
df_no_zeros_nans_3nonn = df_up_to_one_zero[total_zeros_and_nans_per_row == 0].copy()

#<><><><><><><> Description of the discared rows having "zeors" and "Nans"<><><><><><><><><><><>
# Subtract df_no_zeros_nans_3nonn from df_up_to_one_zero
df_remaining_rows = df_up_to_one_zero.drop(df_no_zeros_nans_3nonn.index)

# Reset the index of the new DataFrame
df_remaining_rows.reset_index(drop=True, inplace=True)

# Count the number of occurrences for each unique value in the "target" column
target_value_counts = df_remaining_rows["target"].value_counts()


# Print the data frames
print("Data Frame with up to 1 zero value:", df_up_to_one_zero.shape )
#print(df_up_to_one_zero)

#print("Data Frame with no zeros or NaNs in rows:")
print("df_no_zeros_nans_3nonn : ", df_no_zeros_nans_3nonn.shape )



# Print the unique values and their counts
print("Unique values counts in the target column of rows having zeors and NaNs:")
print(target_value_counts)

# Print the dimensions of the DataFrame
print("Dimensions of the DataFrame:", df_remaining_rows.shape)

Data Frame with up to 1 zero value: (439, 604)
df_no_zeros_nans_3nonn :  (419, 604)
Unique values counts in the target column of rows having zeors and NaNs:
non_toxic     10
toxic          6
mild_toxic     4
Name: target, dtype: int64
Dimensions of the DataFrame: (20, 604)

In [246]:
import pandas as pd

# Convert all columns except the first four columns of the DataFrame df to numeric
df1 = df.copy()
df.iloc[:, 4:] = df.iloc[:, 4:].apply(pd.to_numeric, errors='coerce')

# Count the number of NaN values in each column of df1
nan_counts = df1.isna().sum()

# Filter columns with a maximum of 1 NaN value
columns_up_to_one_nan = nan_counts[nan_counts <= 10].index

# Create a new DataFrame with columns up to 1 NaN value
df_up_to_one_nan = df1[columns_up_to_one_nan]

# Count the number of zero values in each column of df_up_to_one_nan
zero_counts = df_up_to_one_nan.eq(0).sum()

# Filter columns with a maximum of 1 zero value
columns_up_to_one_zero = zero_counts[zero_counts <= 10].index

# Create a new DataFrame with columns up to 1 zero value
df_up_to_one_zero = df_up_to_one_nan[columns_up_to_one_zero]

# Count the total number of zeros and NaNs in each row
total_zeros_and_nans_per_row = df_up_to_one_zero.isna().sum(axis=1) + df_up_to_one_zero.eq(0).sum(axis=1)

# Create a new DataFrame with rows that have no zeros or NaNs
df_no_zeros_nans_3nonn = df_up_to_one_zero[total_zeros_and_nans_per_row == 0].copy()

# Subtract df_no_zeros_nans_3nonn from df_up_to_one_zero to get the remaining rows
df_remaining_rows = df_up_to_one_zero.drop(df_no_zeros_nans_3nonn.index)

# Reset the index of the new DataFrame
df_remaining_rows.reset_index(drop=True, inplace=True)

# Count the number of occurrences for each unique value in the "target" column
target_value_counts = df_remaining_rows["target"].value_counts()

# Print the data frames
print("Data Frame with up to 1 zero value:", df_up_to_one_zero.shape)
print("Data Frame with no zeros or NaNs in rows:", df_no_zeros_nans_3nonn.shape)

# Print the unique values and their counts in the target column
print("Unique values counts in the target column of rows having zeros and NaNs:")
print(target_value_counts)

# Print the dimensions of the DataFrame
print("Dimensions of the DataFrame:", df_remaining_rows.shape)

Data Frame with up to 1 zero value: (439, 604)
Data Frame with no zeros or NaNs in rows: (419, 604)
Unique values counts in the target column of rows having zeros and NaNs:
non_toxic     10
toxic          6
mild_toxic     4
Name: target, dtype: int64
Dimensions of the DataFrame: (20, 604)

In [248]:
# differnt combination

import pandas as pd

# Convert all columns except the first four columns of the DataFrame df to numeric
df1 = df.copy()
df.iloc[:, 4:] = df.iloc[:, 4:].apply(pd.to_numeric, errors='coerce')

# Create an empty list to store the results
results = []

# Iterate over different thresholds for nan_counts and zero_counts
for nan_threshold in range(1, 11):
    for zero_threshold in range(1, 11):
        # Filter columns with a maximum of nan_threshold NaN values
        columns_up_to_one_nan = nan_counts[nan_counts <= nan_threshold].index

        # Create a new DataFrame with columns up to nan_threshold NaN values
        df_up_to_one_nan = df1[columns_up_to_one_nan]

        # Filter columns with a maximum of zero_threshold zero values
        zero_counts = df_up_to_one_nan.eq(0).sum()
        columns_up_to_one_zero = zero_counts[zero_counts <= zero_threshold].index

        # Create a new DataFrame with columns up to zero_threshold zero values
        df_up_to_one_zero = df_up_to_one_nan[columns_up_to_one_zero]

        # Count the total number of zeros and NaNs in each row
        total_zeros_and_nans_per_row = df_up_to_one_zero.isna().sum(axis=1) + df_up_to_one_zero.eq(0).sum(axis=1)

        # Create a new DataFrame with rows that have no zeros or NaNs
        df_no_zeros_nans_3nonn = df_up_to_one_zero[total_zeros_and_nans_per_row == 0].copy()

        # Subtract df_no_zeros_nans_3nonn from df_up_to_one_zero to get the remaining rows
        df_remaining_rows = df_up_to_one_zero.drop(df_no_zeros_nans_3nonn.index)

        # Reset the index of the new DataFrame
        df_remaining_rows.reset_index(drop=True, inplace=True)

        # Count the number of occurrences for each unique value in the "target" column
        target_value_counts = df_remaining_rows["target"].value_counts()

        # Store the results in a dictionary
        result = {
            'nan_threshold': nan_threshold,
            'zero_threshold': zero_threshold,
            'df_up_to_one_zero_shape': df_up_to_one_zero.shape,
            'df_no_zeros_nans_3nonn_shape': df_no_zeros_nans_3nonn.shape,
            'target_value_counts': target_value_counts,
            'df_remaining_rows_shape': df_remaining_rows.shape
        }

        # Append the result to the list
        results.append(result)

# Create a data frame from the results
df_results = pd.DataFrame(results)

# Print the results
print(df_results)

    nan_threshold  zero_threshold df_up_to_one_zero_shape  \
0               1               1              (439, 192)
1               1               2              (439, 240)
2               1               3              (439, 316)
3               1               4              (439, 321)
4               1               5              (439, 323)
..            ...             ...                     ...
95             10               6              (439, 596)
96             10               7              (439, 597)
97             10               8              (439, 602)
98             10               9              (439, 604)
99             10              10              (439, 604)

   df_no_zeros_nans_3nonn_shape  \
0                    (434, 192)
1                    (433, 240)
2                    (433, 316)
3                    (428, 321)
4                    (422, 323)
..                          ...
95                   (420, 596)
96                   (420, 597)
97                   (419, 602)
98                   (419, 604)
99                   (419, 604)

                                  target_value_counts df_remaining_rows_shape
0   non_toxic    3
toxic        2
Name: target, dt...                (5, 192)
1   non_toxic    4
toxic        2
Name: target, dt...                (6, 240)
2   non_toxic    4
toxic        2
Name: target, dt...                (6, 316)
3   non_toxic     7
toxic         2
mild_toxic    ...               (11, 321)
4   non_toxic     9
toxic         5
mild_toxic    ...               (17, 323)
..                                                ...                     ...
95  non_toxic     10
toxic          5
mild_toxic  ...               (19, 596)
96  non_toxic     10
toxic          5
mild_toxic  ...               (19, 597)
97  non_toxic     10
toxic          6
mild_toxic  ...               (20, 602)
98  non_toxic     10
toxic          6
mild_toxic  ...               (20, 604)
99  non_toxic     10
toxic          6
mild_toxic  ...               (20, 604)

[100 rows x 6 columns]

In [249]:
from IPython.display import display

# Convert df_results to a formatted table
display(df_results)

,nan_threshold,zero_threshold,df_up_to_one_zero_shape,df_no_zeros_nans_3nonn_shape,target_value_counts,df_remaining_rows_shape
0,1,1,"(439, 192)","(434, 192)","non_toxic 3 toxic 2 Name: target, dt...","(5, 192)"
1,1,2,"(439, 240)","(433, 240)","non_toxic 4 toxic 2 Name: target, dt...","(6, 240)"
2,1,3,"(439, 316)","(433, 316)","non_toxic 4 toxic 2 Name: target, dt...","(6, 316)"
3,1,4,"(439, 321)","(428, 321)",non_toxic 7 toxic 2 mild_toxic ...,"(11, 321)"
4,1,5,"(439, 323)","(422, 323)",non_toxic 9 toxic 5 mild_toxic ...,"(17, 323)"
...,...,...,...,...,...,...
95,10,6,"(439, 596)","(420, 596)",non_toxic 10 toxic 5 mild_toxic ...,"(19, 596)"
96,10,7,"(439, 597)","(420, 597)",non_toxic 10 toxic 5 mild_toxic ...,"(19, 597)"
97,10,8,"(439, 602)","(419, 602)",non_toxic 10 toxic 6 mild_toxic ...,"(20, 602)"
98,10,9,"(439, 604)","(419, 604)",non_toxic 10 toxic 6 mild_toxic ...,"(20, 604)"
99,10,10,"(439, 604)","(419, 604)",non_toxic 10 toxic 6 mild_toxic ...,"(20, 604)"

In [250]:
import pandas as pd

# Create an empty list to store the results
results = []

# Loop through the values 0 to 10
for value in range(11):
    # Convert all columns except the first four columns of the DataFrame df to numeric
    df1 = df.copy()
    df.iloc[:, 4:] = df.iloc[:, 4:].apply(pd.to_numeric, errors='coerce')

    # Count the number of NaN values in each column of df1
    nan_counts = df1.isna().sum()

    # Filter columns with a maximum of 'value' NaN values
    columns_up_to_one_nan = nan_counts[nan_counts <= value].index

    # Create a new DataFrame with columns up to 'value' NaN values
    df_up_to_one_nan = df1[columns_up_to_one_nan]

    # Count the number of zero values in each column of df_up_to_one_nan
    zero_counts = df_up_to_one_nan.eq(0).sum()

    # Filter columns with a maximum of 'value' zero values
    columns_up_to_one_zero = zero_counts[zero_counts <= value].index

    # Create a new DataFrame with columns up to 'value' zero values
    df_up_to_one_zero = df_up_to_one_nan[columns_up_to_one_zero]

    # Count the total number of zeros and NaNs in each row
    total_zeros_and_nans_per_row = df_up_to_one_zero.isna().sum(axis=1) + df_up_to_one_zero.eq(0).sum(axis=1)

    # Create a new DataFrame with rows that have no zeros or NaNs
    df_no_zeros_nans_3nonn = df_up_to_one_zero[total_zeros_and_nans_per_row == 0].copy()

    # Subtract df_no_zeros_nans_3nonn from df_up_to_one_zero to get the remaining rows
    df_remaining_rows = df_up_to_one_zero.drop(df_no_zeros_nans_3nonn.index)

    # Reset the index of the new DataFrame
    df_remaining_rows.reset_index(drop=True, inplace=True)

    # Count the number of occurrences for each unique value in the "target" column
    target_value_counts = df_remaining_rows["target"].value_counts()

    # Append the results to the list
    results.append((value, df_up_to_one_zero.shape, df_no_zeros_nans_3nonn.shape, target_value_counts))

# Create a DataFrame from the results list
df_results = pd.DataFrame(results, columns=['Value', 'DataFrame Shape', 'No Zeros/NaNs Shape', 'Target Value Counts'])

# Display the DataFrame
display(df_results)

,Value,DataFrame Shape,No Zeros/NaNs Shape,Target Value Counts
0,0,"(439, 96)","(439, 96)","Series([], Name: target, dtype: int64)"
1,1,"(439, 192)","(434, 192)","non_toxic 3 toxic 2 Name: target, dt..."
2,2,"(439, 287)","(433, 287)","non_toxic 4 toxic 2 Name: target, dt..."
3,3,"(439, 488)","(428, 488)",non_toxic 6 toxic 4 mild_toxic ...
4,4,"(439, 513)","(424, 513)",non_toxic 8 toxic 5 mild_toxic ...
5,5,"(439, 524)","(421, 524)",non_toxic 10 toxic 5 mild_toxic ...
6,6,"(439, 587)","(421, 587)",non_toxic 10 toxic 5 mild_toxic ...
7,7,"(439, 595)","(420, 595)",non_toxic 10 toxic 5 mild_toxic ...
8,8,"(439, 602)","(419, 602)",non_toxic 10 toxic 6 mild_toxic ...
9,9,"(439, 604)","(419, 604)",non_toxic 10 toxic 6 mild_toxic ...
10,10,"(439, 604)","(419, 604)",non_toxic 10 toxic 6 mild_toxic ...

<h2 style="color:red;">Statistics

In [236]:
import pandas as pd
from IPython.display import display, HTML

# Create the data for the table
data = {
    'nZeros': [1],
    'nNan': [count_nans],
    'df': [df.shape],
    'discard_df': [df_discard.shape],
    'toxic': [toxic_count],
    'mild_toxic': [mild_toxic_count],
    'non_toxic': [non_toxic_count],
    'multiple': [multiple_count]
}

# Create the DataFrame
df_table = pd.DataFrame(data)

# Display the table
display(HTML(df_table.to_html(index=False)))

NameError: name 'count_zeros' is not defined

In [204]:
import pandas as pd

# Get the number of rows and columns from df_no_zeros_nans_3nonn
n_rows = df_no_zeros_nans_3nonn.shape[0]
n_cols = df_no_zeros_nans_3nonn.shape[1]

# Create the data for the table
data = {'Heading': ['SN', 'nRow', 'nColumn'],
        'Value': [None, n_rows, n_cols]}

# Create a DataFrame from the data
df_table = pd.DataFrame(data)

# Display the DataFrame as a table
display(df_table)

SyntaxError: invalid syntax (1679995235.py, line 9)

In [85]:
zero_count = df_filteredl['nAcid'].value_counts()[0]
print(zero_count)

323

In [ ]:
# # Set the options to display all rows and columns
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

# # Reset the options to disable displaying all rows and columns
# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_columns')

In [34]:
# # Columns to exclude from calculations
# exclude_columns = ["SMILES", "zscore", "target", "TSSPECIES"]

# # Count the number of 0 values in each column (excluding the specified columns)
# zero_counts = df.drop(columns=exclude_columns).eq(0).sum()

# # Create a mask to identify columns with any zero values
# mask = zero_counts == 0

# # Create a new DataFrame by discarding columns (excluding the specified columns) with any zero values
# df_filtered = df.loc[:, exclude_columns + list(mask.index[mask])]

# # Create another DataFrame with the discarded columns (excluding the specified columns)
# df_discarded = df.loc[:, exclude_columns + list(mask.index[~mask])]