In [ ]:
import pandas as pd

# Example data frame
df = pd.DataFrame({
    'STUDY_ID': [1, 1, 2, 2, 3, 3,2],
    'SET_CODE': ['A', 'B', 'A', 'B', 'A', 'B','B'],
    'SHIT': [10, 20, 30, 40, 50, 60,100],
    'EXTRA_COL': ['X', 'Y', 'Z', 'X', 'Y', 'Z','Q']
})

In [ ]:
df

   STUDY_ID SET_CODE  SHIT EXTRA_COL
0         1        A    10         X
1         1        B    20         Y
2         2        A    30         Z
3         2        B    40         X
4         3        A    50         Y
5         3        B    60         Z
6         2        B   100         Q

In [ ]:
# Get unique combinations of STUDY_ID and SET_CODE
unique_combinations = df[['STUDY_ID', 'SET_CODE']].drop_duplicates()
unique_combinations

   STUDY_ID SET_CODE
0         1        A
1         1        B
2         2        A
3         2        B
4         3        A
5         3        B

In [ ]:
# Create empty data frame to store results
result = pd.DataFrame(columns=['STUDY_ID', 'SET_CODE', 'SHIT_mean', 'SHIT_std'])

In [ ]:
result

Empty DataFrame
Columns: [STUDY_ID, SET_CODE, SHIT_mean, SHIT_std]
Index: []

In [ ]:
i=5
print("STUDY ID IS:",unique_combinations.iloc[i]['STUDY_ID'])
print("SET CODE IS:",unique_combinations.iloc[i]['SET_CODE'])
subset_df = df[(df['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (df['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT']]
print(subset_df)

STUDY ID IS: 3
SET CODE IS: B
   SHIT
5    60

In [ ]:
# Loop through unique combinations and calculate mean and std of SHIT
for i in range(len(unique_combinations)):
    subset_df = df[(df['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (df['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT']]
    mean_SHIT = subset_df.mean()[0]
    std_SHIT = subset_df.std()[0]
    result = result.append({'STUDY_ID': unique_combinations.iloc[i]['STUDY_ID'], 
                            'SET_CODE': unique_combinations.iloc[i]['SET_CODE'],
                            'SHIT_mean': mean_SHIT, 'SHIT_std': std_SHIT}, 
                           ignore_index=True)

In [ ]:
print(result)

  STUDY_ID SET_CODE  SHIT_mean   SHIT_std
0        1        A       10.0        NaN
1        1        B       20.0        NaN
2        2        A       30.0        NaN
3        2        B       70.0  42.426407
4        3        A       50.0        NaN
5        3        B       60.0        NaN

In [ ]:
# Example data frame
df_2 = pd.DataFrame({
    'STUDY_ID': [1, 1, 2, 2, 3, 3,2],
    'SET_CODE': ['A', 'B', 'A', 'B', 'A', 'B','B'],
    'SHIT_2': [10, 20, 30, 40, 50, 60,100],
    'EXTRA_COL_3': ['X', 'Y', 'Z', 'X', 'Y', 'Z','Q'],
    'EXTRA_COL_4': ['X', 'Y', 'Z', 'X', 'Y', 'Z','Q'],
    'EXTRA_COL_5': ['X', 'Y', 'Z', 'X', 'Y', 'Z','Q']
})

In [ ]:
df_2

   STUDY_ID SET_CODE  SHIT_2 EXTRA_COL_3 EXTRA_COL_4 EXTRA_COL_5
0         1        A      10           X           X           X
1         1        B      20           Y           Y           Y
2         2        A      30           Z           Z           Z
3         2        B      40           X           X           X
4         3        A      50           Y           Y           Y
5         3        B      60           Z           Z           Z
6         2        B     100           Q           Q           Q

In [ ]:
result_2 = pd.DataFrame(columns=['STUDY_ID', 'SET_CODE', 'SHIT_2_modified'])

In [ ]:
result_2

Empty DataFrame
Columns: [STUDY_ID, SET_CODE, SHIT_2_modified]
Index: []

In [ ]:
i=1
result[(result['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (result['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_mean']]

   SHIT_mean
1       20.0

In [ ]:
for i in range(len(unique_combinations)):
    subset_df = df_2[(df_2['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (df_2['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_2']]
    prev_mean=result[(result['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (result['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_mean']]
    prev_std=result[(result['STUDY_ID'] == unique_combinations.iloc[i]['STUDY_ID']) & 
                   (result['SET_CODE'] == unique_combinations.iloc[i]['SET_CODE'])][['SHIT_std']]
    mod_val=(subset_df["SHIT_2"]-prev_mean["SHIT_mean"])/prev_std["SHIT_std"]
    print(mod_val)
    result_2 = result_2.append({'STUDY_ID': unique_combinations.iloc[i]['STUDY_ID'], 
                            'SET_CODE': unique_combinations.iloc[i]['SET_CODE'],
                            'SHIT_2_modified': mod_val.values}, 
                           ignore_index=True)

0   NaN
dtype: float64
1   NaN
dtype: float64
2   NaN
dtype: float64
3   -0.707107
6         NaN
dtype: float64
4   NaN
dtype: float64
5   NaN
dtype: float64

In [ ]:
(subset_df["SHIT_2"]-prev_mean["SHIT_mean"])/prev_std["SHIT_std"].values[0]

5   NaN
dtype: float64

In [ ]:
result_2

  STUDY_ID SET_CODE             SHIT_2_modified
0        1        A                       [nan]
1        1        B                       [nan]
2        2        A                       [nan]
3        2        B  [-0.7071067811865475, nan]
4        3        A                       [nan]
5        3        B                       [nan]